.parent{
    display: flex;
}
.backgroundImage{
    width: 55vw;
    background-size:cover;
    background-repeat: no-repeat;
    object-fit:contain;
    height: 100vh;
    background-image: url(../../../assets/images/loginbackgroundimage.svg);
}
.icondiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formparent{
    padding: 6em 5em;
    width: 45vw;
    background: white;
}
.welcome{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6em;
    line-height:25px;
    color: #0D2565;
    padding-top: 1.3em;
}
.submessage{
    /* font-family: Lato; */
    font-style: normal;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 29px;
    color: #000000;
    opacity: 0.6;
}
.formHorizontal{
    margin-top: 2em;
}
.input{
    width: 100%;
    outline: none;
    margin-top: 2em;
    border: 1px solid #B5B5B5;
    border-radius: 6px;
    height: 45px;
    padding-left: 1em;
    display: flex;
    align-items: center;
}
.forgotpassword{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 18px;
    color: #0D2565;  
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5em;
    cursor: pointer;
}
.button{
    height: 45px;
    background: #2DCE5A;
    border-radius: 6px;
    color: white;
    width: 100%;
    border: none;
    margin-top: 1em;
    cursor: pointer;
}
.sigupparent{
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}
.signuptext{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 17px;
    color: #03014C;    
    cursor: pointer;
}
.download{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 14px;
    color: #000000;   
    padding-top: 3em;
    text-align: center;
}
.plaformparent{
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
}
.error{
    color: tomato;
    font-size: 1.1em;
    font-weight: bold;
}

#input:-webkit-autofill{
    -webkit-text-fill-color: yellow !important;
}


/* \\ MEDIA QUERIES \\ */
@media screen and (max-width: 750px) {
    .parent{
        display: grid;
        background-size:cover;
        background-repeat: no-repeat;
        object-fit:contain;
        height: 100vh;
        background-image: url(../../../assets/images/loginbackgroundimage.svg);
    }
    .backgroundImage{
        display: none;
        background-image: none;
    }
    .formparent{
        padding: 6em 4em;
        width: 100vw;
        background: none;
    }
  }